@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(39, 39, 39, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;  
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 0.5rem 2rem;
  max-width: 1280px;
}

* {
  box-sizing: border-box;
}